# ignore all these
*.docx
*.zip
*.ipynb_checkpoints
*study_material
*/*/class*.py
*.log
/*/*/*
*.pkl


# except
!.gitignore
!**/*/sol

# ignore these again
*processed
*.pdf
*.sql
*encode
*scale
*.txt
*.html
Graphical_Representation/Assignment.py
